@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form method="post" action="/Car/Create">
    <fieldset>
        <label>Car Make</label>
        <input name="CarMake" />
    </fieldset>
    <fieldset>
        <label>Car Color</label>
        <select name="CarColor">
            <option value="red" >Red</option>
            <option value="blue" >Blue</option>
            <option value="green" >Green</option>
            <option value="black" >Black</option>
            <option value="silver" >Silver</option>
            <option value="purple" >Purple</option>
        </select>
    </fieldset>
    <input type="submit" />
</form>

